* {
  padding: 0;
  margin: 0;
}
body {
  width: 80%;
  margin: auto;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(17, 15, 15);
  color: aliceblue;
}
.head {
  text-align: center;
  margin: 2% 3%;
  padding: 20px 0;
  background-color: rgba(255, 94, 0, 0.719);
  border-radius: 15px;
}
.inputs input {
  margin: 10px 0;
}
#deletebtn{
  display: none;
  margin: 20px 0;
}
input {
  width: 98%;
  height: 40px;
  border: 1px solid black;
  outline: none;
  margin: 10px auto;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgb(36, 34, 34);
  color: aliceblue;
}
input:focus {
  background-color: rgba(43, 42, 42, 0.478);
}

.inputprice {
  display: flexbox;

  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.inputprice input {
  width: 20%;
  padding: 10px 10px;
}
small {
  background-color: rgb(215, 115, 32);
  padding: 5px;
  max-width: 100px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
small:before {
  content: "Total : ";
}

button {
  width: 100%;
  height: 40px;
  padding: 5px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background-color: rgba(255, 102, 0, 0.527);
  color: aliceblue;
}
button:hover {
  background-color: rgba(255, 94, 0, 0.719);
  color: aliceblue;
  letter-spacing: 2px;
}
.output {
  padding: 10px 0;
}
.output input {
  margin: 10px auto;
}
.searchbtn {
  display: flex;
  justify-content: space-between;
}
.searchbtn button {
  width: 40%;
}
table {
  width: 100%;
  text-align: center;
  padding: 10px 0;

}
th,
td {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.532);
      border: 1px solid rgba(255, 255, 255, 0.116);


}
table button {
  background-color: orangered;
  width: 100%;
  height: 30px;
}
table button:hover {
  letter-spacing: 0px;
  background-color: rgb(253, 150, 15);
}
